@font-face {
    font-family: RobotoSlab;
    src: url(../webfonts/Roboto_Slab/RobotoSlab-VariableFont_wght.ttf);
}

@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url("https://fonts.googleapis.com/css?family=Sacramento&display=swap");

* {
    font-family: RobotoSlab, sans-serif;
}

h4 {
    font-size: 2em;
    line-height: calc(20px + 20vh);
    text-shadow: 0 0 5px #ffa500, 0 0 15px #ffa500, 0 0 20px #ffa500, 0 0 40px #ffa500, 
                 0 0 60px #ff0000, 0 0 10px #ff8d00, 0 0 98px #ff0000;
    color: #fff6a9;
    font-family: "Sacramento", cursive;
    text-align: center;
    animation: blink 12s infinite;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 2vw;
    background-color: #0d131cd2;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* Animaciones */
@keyframes blink {
    20%, 24%, 55% {
        color: #111;
        text-shadow: none;
    }
    0%, 19%, 21%, 23%, 25%, 54%, 56%, 100% {
        text-shadow: 0 0 5px #ffa500, 0 0 15px #ffa500, 0 0 20px #ffa500, 
                     0 0 40px #ffa500, 0 0 60px #ff0000, 0 0 10px #ff8d00, 0 0 98px #ff0000;
        color: #fff6a9;
    }
}

@keyframes colorShift {
    0% { color: #fcfcfc; }
    25% { color: #bab7ac; }
    50% { color: #fffef8; }
    75% { color: #706f6c; }
    100% { color: #ffffff; }
}

/* Íconos */
i:not(li i):not(#shopping) {
    transition: transform 0.3s, box-shadow 0.3s;
    font-size: 3em;
    display: inline-block;
    animation: colorShift 3s infinite;
}

i:hover:not(#shopping) {
    transform: perspective(1000px) rotateX(15deg) rotateY(15deg);
    box-shadow: 0 15px 20px rgba(0, 0, 0, 0.2);
}

/* Slider */
.slider-control {
    position: relative;
    margin: 0 2em;
}

/* Contenedor de Imágenes */
#container-shop, #destacados--inner {
    display: flex;
    gap: 40px;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    transition: all 0.3s ease-in;
}

#container-shop img, #destacados--inner img {
    width: 200px;
    height: 300px;
    object-fit: cover;
    border-radius: 20px;
}

/* Media Queries */
@media screen and (min-width: 600px) {
    .img { display: none; }
    iframe { width: 100%; max-width: 500px; }

    header {
        background-image: url("/assets/Imagenes/p.jpg");
        background-size: cover;
        height: 250px;
        margin-bottom: 20px;
    }

    nav {
        display: flex;
        justify-content: flex-end;
        background-color: #333;
    }

    nav ul {
        display: flex;
        margin-top: 0;
    }

    #container-shop img, #destacados--inner img {
        width: 500px;
        height: 600px;
    }

    form {
        margin: 20px 0;
    }

    fieldset {
        width: 50em;
    }

    img:not(#logo):hover {
        box-shadow: 0 0 4px 4px grey;
    }
}
